@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}

.header {
  position: fixed;
  top: 0;
  left: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px ;

  background-color: #ad111c;
}

.logo {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  object-fit: contain;
  object-position: center;
  border: .75rem solid #fff;
}

.nav {
  margin-right: 1rem;
}

.nav__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav__link {
  margin: 0 40px 0 0;
  padding: 0;

  color: #fff;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:active {
  color: #610a10;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
}

.content__title {
  width: 50%;
  margin: 2rem auto 3rem;
  padding: 0;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto 3rem;
}

.form__input {
  width: 100%;
  min-height: 2.5rem;
  margin: 0 0 1rem;
  padding: .5rem .5rem;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;

  border: 1px solid #ad111c;
}

.form__submit {
  width: 100%;
  min-height: 2.5rem;
  padding: .5rem .5rem;

  color: #fff;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;

  background-color: #ad111c;
  border: 1px solid #ad111c;

  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.section__title {
  width: 50%;
  margin: 0 auto 2rem;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;

  background-color: #fff;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.article__image {
  margin: 0 0 1rem;
  padding: 0;

  color: #ad111c;
  font-size: 2rem;

  background-color: #fff;
}

.article__title {
  width: 50%;
  margin: 0 0 1rem;
  padding: 0;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: left;

  background-color: #fff;
}

.article__text {
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;

  background-color: #fff;
}

.section__video {
  width: 560px;
  height: 315px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto 2rem;
  border: 0;

  background-color: #ff734e;
}

.pricing-options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
}

.pricing-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.pricing-option__title {
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;

  background-color: #fff;
}

.pricing-option__price {
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;

  color: #fff;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;

  background-color: #ff7e4e;
}

.pricing-option__charasteristics {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pricing-option__characteristic {
  margin: 0;
  padding: 0;

  color: #ad111c;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;

  background-color: #fff;
}

.pricing-option__characteristic:last-of-type {
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  min-height: 2.5rem;
  padding: .5rem .5rem;

  color: #fff;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;

  background-color: #ad111c;
  border: 1px solid #ad111c;

  cursor: pointer;
}
