@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #251c49;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: #f74d3f;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 20px;
  object-fit: contain;
  object-position: center;
  border: 10px solid #fff;
}

.nav {
  margin: auto 20px;
}

.nav__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav__item {

}

.nav__link {
  margin: 0 40px 0 0;
  padding: 0;

  color: #fff;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:active {
  color: #610a10;
}

/*
.section__video {
  width: 560px;
  height: 315px;
  object-fit: contain;
  object-position: center;
  margin: 0;
  border: 0;
  transition: opacity .2s linear;
}

.section__video:hover {
  opacity: .6;
}
*/
