@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #251c49;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.header {
  position: fixed;
  display: flex;
  align-items: baseline;
  width: 100%;
}

/*
.section__video {
  width: 560px;
  height: 315px;
  object-fit: contain;
  object-position: center;
  margin: 0;
  border: 0;
  transition: opacity .2s linear;
}

.section__video:hover {
  opacity: .6;
}
*/
